
h1 {
    width: 900px;
    height: 50px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    background-color: #c9f6ff;
    color: black;
    border: 3px solid white;
    font-size: 40px ;
}

.box {
    width: 1200px;
    height: 1050px;
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(122,169,189,0.5);
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .profile-image-container p {
    margin-top: 5px;
    font-size: 14px;
  }

.flex-container {
    display: flex;
    border: 3px solid black;
    border-radius: 5px;

  }
  
  
  .form-container {
    color: red;
    /* Gaya lain yang Anda inginkan untuk formulir */
  }
  

 
.input1 {
    background-color: rgba(122,169,189,0);
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none; 
    font-size: 15px
}
.input2 {
    background-color: rgba(122,169,189,0);
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}
.input3 {
    background-color: rgba(122,169,189,0);
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}
.input4 {
    background-color: rgba(122,169,189,0);
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}
.input5 {
    background-color: rgba(122,169,189,0);
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}
